* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131313;
}

/* Navbar */
.NavBar {
    display: flex;
    height: 56px;
    width: 100%;
    position: fixed;
    padding-left: 17px;
    padding-right: 17px;
}

.menu-bar-icon {
    display: inline-block;
    margin-top: 17px;
    margin-left: 8px;
}

.menu-bar-icon img {
    display: block;
    height: 22px;
    width: 22px;
}

.youtube {
    margin-top: 2px;
    margin-left: 25px;
    display: inline-flex;
    align-items: center;
}

.youtube img {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-right:2px;
}

.youtube h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    display: inline-block;
    color: white;
    align-items: center;
}

.search-features{
    display:flex;
    align-items: center;
    height: 100%;
    width:80%;
}

.search-box{
    display: flex;
    position: relative;
    left: 22.2%;
    height: 69%;
    width:49%;
    align-items: center;
    justify-content:center;
    background-color: transparent;
    border-style: solid;
    border-color:#353535;
    border-width: 1px;
    border-radius: 60px;
}

.textbox{
    background-color: transparent;
    color:white;
    position: absolute;
    text-align: start;
    font-size: medium;
    font-weight: 100;
    outline:none;
    left:15px;
    width:88%;
    height:90%;
    border-style: none;
}

.textbox::placeholder{
    font-size:medium;
    position: relative;
    top:1px;
}

.textbox[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.clearbutton{
    display:none;
    position: absolute;
    right:70px;
    top:5px;
    color:white;
    background-color: transparent;
    border-style: none;
    font-size: 30px;   
}

.searchbutton{
    display:flex;
    position: absolute;
    color:white;
    justify-content: center;
    background-color: #222222;
    font-size: 20px;
    width: 65px;
    right:-1px;
    padding-top: 10px;
    padding-bottom:9px;
    border-style: solid;
    border-width: 1px;
    border-color: #353535;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
}

/* Menu */
