* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #131313;
}

.NavBar {
    display: flex;
    height: 56px;
    width: 100%;
    position: fixed;
    padding-left: 17px;
    padding-right: 17px;
}

.menu-bar-icon {
    display: inline-block;
    margin-top: 17px;
    margin-left: 8px;
}

.menu-bar-icon img {
    display: block;
    height: 22px;
    width: 22px;
}

.youtube {
    margin-top: 2px;
    margin-left: 25px;
    display: inline-flex;
    align-items: center;
}

.youtube img {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-right:2px;
}

.youtube h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    display: inline-block;
    color: white;
    align-items: center;
}

.search-box{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:70%;
}

.search-box input{
    width:600px;
    height:75%;
    background-color: #131313;
    border:solid rgb(39, 39, 39) 2px;
    border-radius: 80px;
    display:flex;
    padding:10px;
    margin:auto;
}
